doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href='style.css')
  script(src='https://kit.fontawesome.com/ae253fb681.js', crossorigin='anonymous')
  title A7U - Portfolio
.container.mx-auto.flex.justify-center
  .flex-wrap.justify-center.my-96(class='md:flex')
    h1.text-white.text-5xl.font-extrabold.font-mono.block.duration-500.relative.transform.transition-all.translate-y-14.ease-out(class='md:text-9xl', data-replace='{ "translate-y-14": "translate-y-0" }')
      | Hello and welcome
    h1.text-indigo-500.font-extrabold.font-mono.duration-500.relative.transform.transition-all.translate-y-14.ease-out(data-replace='{ "translate-y-14": "translate-y-0" }')
      br
      | I&apos;m A7U :]
  i.fas.fa-arrow-down.text-indigo-500.text-lg.animate-bounce.w-16.h-16.absolute.bottom-1(class='md:bottom-32')
br
br
br
// This example requires Tailwind CSS v2.0+
.py-12.bg-white
  .max-w-7xl.mx-auto.px-4(class='sm:px-6 lg:px-8')
    .(class='lg:text-center')
      p.mt-2.text-3xl.leading-8.font-extrabold.tracking-tight.text-gray-900(class='sm:text-4xl')
        | About me
      p.mt-4.max-w-2xl.text-xl.text-gray-500(class='lg:mx-auto')
        | Lorem ipsum dolor sit amet consect adipisicing elit. Possimus magnam voluptatum cupiditate veritatis
        | in accusamus quisquam.
script.
  document.addEventListener("DOMContentLoaded", () => {
  let replacers = document.querySelectorAll('[data-replace]');
  for (let i = 0; i < replacers.length; i++) {
  let replaceClasses = JSON.parse(replacers[i].dataset.replace.replace(/'/g, '"'));
  Object.keys(replaceClasses).forEach((key) => {
  replacers[i].classList.remove(key);
  replacers[i].classList.add(replaceClasses[key]);
  });
  }
  });
